/*
RESET
*/

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
/*
GENERAL
*/
body{
    font-family: 'Roboto', sans-serif;
}
main{
    position: relative;
    height: calc(100vh - 100px);
    background-color: black;
}
.conteiner{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
}
.my-buttons{
    position: absolute;
    top: 10px;
    right: 0;
}
.my-buttons button{
    background-color: #222222;
    border: none;
    color: white;
    padding: 5px;
}
.my-row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px ;
    margin-bottom: 10px;
}
.my-col{
    background-image: url(https://fastly.picsum.photos/id/237/200/300.jpg?hmac=TmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: calc((100% / 7) - 4px);
    height: calc((100vh - 200px) / 5);
    margin: 5px 2px ;
    position: relative;
}
.name{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.6 );
    padding: 2px 5px;
    font-size: 0.7em;
}
.my-logo{
    width: 30%
}
.my-logo-2{
    width: 60%
}
.my-logo-3{
    width: 10%
}
.my-logo i{
    padding: 15px;
}
.my-logo .logo-block{
    background-color: #222222;
    border: none;
    color: white;
}
.my-logo-2 i{
    padding: 15px;
}
.my-logo-2 .logo-block{
    background-color: #222222;
    border: none;
    color: white;
}
.logo-block i{
    display: block;
}
.end-button{
    color: red;
    background-color: #4a4a4a;
    border: none;
    height: 100px;
    padding: 5px;
    width: 100%;
}
/*
FOOTER
*/
.footer-bottom{
    background-color: #222222;
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}